body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: antiquewhite;
}

img {
  width: 500px;
  height: auto;
  margin: auto;
  display: block;
  border: 4px solid sienna;
}

.title {
  font-weight: bold;
  text-align: center;
}

.parts {
  font-weight: normal;
  border: 4px solid sienna;
}
